@import '../../styles/reset';

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background: url('../../images/ecovias.jpeg');
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(4px) grayscale(1) opacity(0.5);
}

.form {
  background: $white;
  box-shadow: 0 0 4px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding: $spacing * 2;
}
