// Colors
$white: #FFF;
$black: #000;
$grey: #666;
$light-green: #4EB746;
$dark-green: #007454;
$red: #FF5151;
$yellow: #FFC951;

// Spacing
$default-spacing: 15px;
$spacing: $default-spacing;

// Font
$font-size-smallest: 12px;
$font-size-small: 14px;
$font-size-default: 16px;
$font-size-big: 18px;


// Style
$default-shadow: 0 0 5px rgba($black, 0.5);
$default-radius: 5px;
