@import '../../styles/variables';

.button {
  font-size: $font-size-big;
  cursor: pointer;
  padding: $spacing;
  background: $dark-green;
  color: $white;
  transition: .2s ease-in-out;

  &:hover {
    background: $light-green;
  }
}
